<div class="container">
  <h1>Become a partner</h1>

  <form action="/foodbanks" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input class="form-control" type="text" name="address">
    </div>

    <div class="form-group">
      <label for="address">Phone</label>
      <input class="form-control" type="text" name="phone">
    </div>

    <div class="form-group">
      <label for="address">Email</label>
      <input class="form-control" type="text" name="email">
    </div>

    <div class="form-group">
      <label for="address">Website</label>
      <input class="form-control" type="text" name="website">
    </div>

    <input class="btn btn-success" type="submit" value="Post">
  </form>
</div>
