<%# <div class="logo">
  <h1>FOOD ~ SHARE</h1>
  <h2>love food hate waste!</h2>
  <img class="backgroundimage" src="https://imgur.com/WqkCic8.jpg">
</div>%>

<div class="jumbotron jumbotron-fluid">
  <div class="logo">
  <h1 class="display-3">FOOD ~ SHARE</h1>
  <p class="lead">love food hate waste!</p>
  </div>
  <img class="backgroundimage" src="https://imgur.com/WqkCic8.jpg">
  <p class="lead">
  </p>
</div>

<footer>
  <p>Created by James Tang  ~  General Assembly class 2018</p>
</footer>
