
<div class="jumbotron jumbotron-fluid">
  <div class="logo">
  <h1 class="display-3">FOOD ~ SHARE</h1>
  <p class="lead">love food hate waste!</p>
  </div>
  <%# <img class="backgroundimage" src="https://imgur.com/WqkCic8.jpg">%>
  <div class="backgroundimage" style="background-image: url('https://imgur.com/WqkCic8.jpg')">
  <p class="text">"Our mission is to alleviate global hunger by developing food banks in communities where they are needed and by supporting food banks where they exist"</p> 
  </div>
  <p class="lead">
  </p>
</div>

<footer>
  <p>Created by James Tang  ~  General Assembly class 2018</p>
</footer>
